@{
    ViewBag.Title = "Home Page";
}
<br />
<marquee scrollamount="15" direction="up" behavior="alternate"><marquee scrollamount="15" direction="right" behavior="alternate"><p>Welcome To Your Zoo</p></marquee></marquee>
<br />
